{{define "main"}}
  This is a different language page
  {{.Content}}
  {{if isset .Params "omo"}}
      oga how far omo is set up
  {{end}}


<!-- this are all the tests - I did asdfjdksa on else not working, .S
  summary not working either -->
 {{if (isset .Params "description")}}
   <h2>{{index .Params "description"}}</h2>
   {{else}}
   <h2>asdfdsa</h2>
 {{end}}

 {{if (isset .Params "description")}}
   <h2>{{index .Params "description"}}</h2>
   {{else}}
   <h2>{{.Summary}}</h2>
 {{end}}

{{end}}
